<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Translator</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="pane">
            <textarea id="input-text" placeholder="Paste your text here."></textarea>
            <p class="warning">Reminder: Please do not enter personal data, security credentials, or confidential business information.</p>
        </div>
        <button id="translate-btn">Translate</button>
        <div class="pane">
            <textarea id="output-text" placeholder="The Wannon Water Voice Guide will be applied to your content and the result will appear here.  Select and copy."></textarea>
            <p class="warning">The rewritten text should be treated as a draft and proof-reading is required prior to issue to customers.  For assistance, please contact the Communications and Engagement Team. </p>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>



